<div class="container">
  <form (submit)="signIn()">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div>
      <input
        type="text"
        class="form-control"
        placeholder="Login"
        [(ngModel)]="login"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <button class="w-100 btn btn-lg text-bg-dark" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2023</p>
  </form>
</div>
