quill-view::ng-deep>div>div.ql-editor>p>img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
 quill-view::ng-deep > div > div.ql-editor{
  padding-left: 0;
   padding-right: 0;
 }
 .container {
  max-width: 900px;
 }