.figure {
  position: relative;
  height: 400px;
  overflow: hidden;

  color: white;
  margin-bottom: 2rem;
  padding-top: 2rem;
  z-index: 1;
}

.photo {
  position: absolute;
  width: 100%;
  margin: -10% 0 0 0;
  z-index: -1;
}

.text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.pos-rel {
  position: relative;
}

quill-view::ng-deep .ql-editor {
  padding: 0;
}

quill-view::ng-deep>div>div.ql-editor>p>img {
  height: 250px;
  display: block;
  margin: 0 auto;
}

div.quill-text>quill-view::ng-deep>div>div.ql-editor {
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  display: block;
  text-align: right;
}
.nav a {
  cursor: pointer;
  &:hover {
    background-color: rgb(232, 232, 232);
  }
}
